<div class="row">
    <div class="col-md-12">
        <h2>Items from API Results</h2>
        <ul id="my-list"></ul>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7030/api/values",
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (index, value) {
                        $("#my-list").append("<li>" + value + "</li>");
                    })
                }
            });
        })
    </script>
}